[submodule "fzf-git.sh"]
	path = fzf-git.sh
  url = https://github.com/junegunn/fzf-git.sh
  branch = main
[submodule "nvim"]
	path = nvim
	url = https://github.com/MIT4893-Projects/Neovim-Dotfiles
	branch = master
[submodule "sddm-themes/sugar-candy"]
	path = sddm-themes/sugar-candy
	url = https://github.com/Kangie/sddm-sugar-candy
