# Ignore all folders and files
/*

# Except .gitignore
!.gitignore

# Fonts
!fonts/
!media/

# Auto install files
!scripts/
!install.sh

# Except config folders
!hypr/
!waybar/
!rofi/
!nvim/
!kitty/
!oh-my-posh/
