@define-color bg  #1D2021;
@define-color bd  #6c757d;
@define-color dim #adb5bd;
@define-color fg  #dee2e6;
@define-color rd  #8EC07C;

* {
  border-radius: 6;
  font-family: JetBrainsMono Nerd Font;
  background: transparent;
  font-size: 13px;
  transition: all 0.1s;
}

.modules-right,
.modules-center,
.modules-left {
  background: @bg;
  margin: 3px 5px 3px;
  padding: 0 15px;
  border: 2px solid @bd;
  border-radius: 8px;
  color: @dim;
}

.modules-center {
  padding: 0;
}

.modules-right {
  color: @fg;
}

#window {
  color: @fg;
}

#workspaces button:hover,
#workspaces button.active {
  color: @fg;
  text-shadow: none;
}

#workspaces button {
  border: none;
  box-shadow: none;
  padding: 0px 5px;
  color: @bd;
}

#workspaces button.urgent {
  color: @rd;
}

#clock.time.module {
  color: @fg;
}
