* {
  font-family: "Grandview", "Fira Code";
  min-height: 0;
  transition: all 0.2s;
}

code {
  font-family: "Fira Code";
}

window#waybar {
  background: rgba(0, 0, 0, 0);
}

.modules-left {
  margin-left: 15px;
}

.modules-center {
  margin: 0 10px;
}

.modules-right {
  margin-right: 15px;
}

#clock,
#window,
#workspaces,
#battery,
#backlight,
#pulseaudio,
#network,
#bluetooth {
  background: rgba(256, 256, 256, 0.7);
  border-radius: 500px;
  padding: 0 10px;
}

#clock {
  color: #0D6D63;
}

#window {
  color: #1A5D75;
}

#workspaces {
  padding: 4px 2px;
}

#workspaces button {
  border-radius: 500px;
  padding: 1px;
  margin: 0 2px;
  background: #707070;
}

#taskbar button,
#taskbar button:hover,
#workspaces button,
#workspaces button:hover,
#workspaces button.active,
#workspaces button.active:hover {
  border: none;
  box-shadow: none;
}

#taskbar button:hover,
#workspaces button:hover {
  background: rgba(160, 160, 160, 0.9);
}

#workspaces button.active:hover {
  background: rgba(0, 53, 84, 0.7);
}

#workspaces button.active {
  background: #003554;
  padding: 1px 10px;
}

#battery {
  color: #805b10;
}

#backlight {
  color: #023e8a;
}

#pulseaudio {
  color: #2d6a4f;
}

#bluetooth {
  color: #1565c0;
}
