* {
    background-image: none;
    font-family: "Grandview";
    font-size: 20px;
}
window {
    background: none;
}

button {
    color: white;
    background-color: rgba(0, 0, 0, 0.3);

    border-color: rgba(256, 256, 256, 0.8);
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;

    margin: 10px;

    transition: all 0.2s;
}

button:focus, button:active, button:hover {
    outline-style: none;
    background-color: rgba(0, 0, 0, 0.5);
}

#lock {
    /* background-image: image(url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png")); */
    background-image: image(url("icons/lock.png"));
}

#logout {
    /* background-image: image(url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png")); */
    background-image: image(url("icons/logout.png"));
}

#suspend {
    /* background-image: image(url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png")); */
    background-image: image(url("icons/suspend.png"));
}

#hibernate {
    /* background-image: image(url("/usr/share/wlogout/icons/hibernate.png"), url("/usr/local/share/wlogout/icons/hibernate.png")); */
    background-image: image(url("icons/hibernate.png"))
}

#shutdown {
    /* background-image: image(url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png")); */
    background-image: image(url("icons/shutdown.png"))
}

#reboot {
    /* background-image: image(url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png")); */
    background-image: image(url("icons/reboot.png"));
}
